<div>
    <form>
        <label>Search Artist</label>
        <input type="text" placeholder="example Shakira" id="searchInput">
        <button type="submit" id="searchButton">Search</button>
    </form>
</div>