<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Musicale</title>
   {{!-- link to add calendar --}}
    <link rel="stylesheet" href="./css/calendar.js.css" />    
</head>

<body>
  {{> header}}
  <main>{{{body}}}</main>
  <footer></footer>
</body>
</html>