<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Musicale</title>
   {{!-- link to add calendar --}}
    <link rel="stylesheet" href="../../public/css/calendar.js.css" />
    <script src="../../public/js/calendar.js"></script>
</head>

<body>
  <header></header>
  <main>{{{body}}}</main>
  <footer></footer>
</body>
{{{script}}}
</html>