<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Musicale</title>
  {{!-- link to calendar --}}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
</head>

<body>
  {{> header}}
  <main>{{{body}}}</main>
  <footer></footer>
</body>

</html>