<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Musicale</title>
<<<<<<< HEAD
   {{!-- link to add calendar --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/calendar.js.css" />  
</head>  
=======
  {{!-- link to calendar --}}
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
>>>>>>> 41864d9c4cfeadb31f4a0e2b53e598fba374582b
</head>

<body>
  {{!-- {{> header}} --}}
  <main>{{{body}}}</main>
  <footer></footer>
</body>

</html>