<body>
    <div id="calendar"></div>
</body>


<script>
    var calendarElement = document.getElementById("calendar");
    var calendarInstance2 = calendarJs(calendarElement, {
        manualEditingEnabled: true
        // All your options can be set here
    }); 
</script>