{{!-- hide the following div until a date is clicked (right side) --}}
{{!-- <div id="events-container">
    {{#each renderEvents as |event|}}
    <h3 id="event-name">Artist: {{event.name}}</h3>   
        <p id="detailsDate">Date: {{event.date}}</p>
        <p id="detailsVenue">Venue: {{event.venue}} </p>
        <p id="detailsTickets"><a href="{{event.tickets}}">Buy Tickets</a> </p>
    {{/each}}
</div> --}}