{{!-- hide the following div until a date is clicked (right side) --}}
<div>
    <h3 id="event-name">{{#each renderEvents as |event|}}
        {{event}}
        {{/each}}
    </h3>
    <p id="detailsVenue">Venue</p>
    <p id="detailsPrice">Price</p>
</div>