<section>
    <h2>Login</h2>
    <form action="/api/login" method="post" id="logInForm">
          <label>Email</label>
        <input type="email" name="email" id="loginEmail">
        <br>
          <label>Password</label>
        <input type="password" name="password" id="loginPassword">
        <br>
        <button type="submit" id="logInButton">Log In</button>
    </form>
</section>