<section>
    <h2>Sign Up</h2>
    <form action="/api/signup" method="post" id="signUpForm">
        <label>Name</label>
        <input type="text" name="name" id="signUpName">
        <br>
          <label>Email</label>
        <input type="email" name="email" id="signUpEmail">
        <br>
          <label>Password</label>
        <input type="password" name="password" id="signUpPassword">
        <br>
        <button type="submit" id="signUpButton">Sign Up</button>
    </form>
</section>