<head>
  <style>
    body {
      background: radial-gradient(#292929, #000000);
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Arial', sans-serif; /* Changes font */
    }

    #top-half {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #top-half img {
      max-width: 100%;
      max-height: 50vh;
    }

    .card-title {
      font-size: 2rem; /* Increase the font size for the card title */
      font-weight: bold; /* Make the card title bold */
    }

    .card-subtitle {
      font-size: 1.2rem; /* Increase the font size for the card subtitles */
      color: #050a2318; /* Change the color of the card subtitles to blue */
    }

    #signUpButton {
      background-color: #101948b8; /* Change the background color of the login button to blue */
      color: #ffffff; /* Change the text color of the login button to white */
      font-weight: bold; /* Make the login button text bold */
    }
  </style>
</head>
<body>
  <section style="margin: auto; text-align: center;" class="card">
    <div id="top-half">
      <img src="https://i0.wp.com/whatever.scalzi.com/wp-content/uploads/2023/01/DSC_9444bw.jpg?resize=768%2C511&ssl=1" alt="Cosmic Image">
    </div>
  <div class="card-body">
    <h2 class="card-title">Musicale - Sign Up</h2>
    <form action="/api/users/" method="post" id="signUpForm">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <label class="card-subtitle mb-2 text-body-secondary">Name</label>
        <input type="text" name="name" id="signUpName">
        <br>
        <label class="card-subtitle mb-2 text-body-secondary">Email</label>
        <input type="email" name="email" id="signUpEmail">
        <br>
        <label class="card-subtitle mb-2 text-body-secondary">Password</label>
        <input type="password" name="password" id="signUpPassword">
        <br>
        <button class="btn btn-primary btn-lg" type="submit" id="signUpButton" href="/calendar">Sign Up</button>
      </div>
    </form>
  </div>
</section>
</body>
